<h1>Izposojene knjige</h1>

<h2>Uvod</h2>
<p>S pomočjo knjižnice Pandas bom analizirala izposojene knjige v MKL v obdobju oktober 2019 - september 2020. Podatki so zbrani na strani [COBISS+] (https://plus.cobiss.si/most-read-web/#libAcronym=MKL&libType&materialTypes=7&periodFrom=201910&periodTo=202009&pubType=1&publishYear), za vsako knjigo sem zajela naslov, avtorja, število izposoj, vrsto literature in jezik.</p>
<br>
<p>Knjige (avtor, naslov, jezik in število izposoj) so zbrane v datoteki knjige.csv, vrste gradiv skupaj z naslovi knjig pa v datoteki vrste.csv. Podatke sem s spletne strani dobila z zajemom s programom poberi_podatke.py ter orodja.py, kjer so funkcije, ki sem jih uporabila.</p>
<br>
<p>Delovne hipoteze:</p>
<ul>
<li>Knjige v slovenščini so bile večkrat izposojene kot knjige v tujih jezikih.</li>
<li>Največkrat izposojene knjige so romani.</li>
<li>Avtorji največkrat izposojenih knjig bodo različni.</li>
</ul>

<h2>Analiza podatkov</h2>
<p>Najprej uvozimo podatke:</p>

In [1]:
import pandas as pd
import os.path

pd.options.display.max_rows = 10
%matplotlib inline

pot_do_knjig = os.path.join('podatki', 'knjige.csv')
knjige = pd.read_csv(pot_do_knjig)
pot_do_vrst_literature = os.path.join('podatki', 'vrste.csv')
vrste_literature = pd.read_csv(pot_do_vrst_literature)

Poglejmo si podatke:

In [2]:
knjige

,izposoje,avtor,naslov,jezik
0,2030,Bronja Žakelj,Belo se pere na devetdeset,slovenski
1,1718,Tadej Golob,Dolina rož,slovenski
2,1405,Tadej Golob,Leninov park,slovenski
3,1286,Adam Kay,Tole bo bolelo : skrivni dnevnik mladega zdrav...,slovenski
4,1250,Tadej Golob,Jezero,slovenski
...,...,...,...,...
4915,1,Charles Bukowski,Ženske,slovenski
4916,1,Mantak Chia,Ženski orgazem brez meja : odkrijte svoje pože...,slovenski
4917,1,Siegfried Melchinger,Zgodovina političnega gledališča,slovenski
4918,1,Barbara Taylor,Življenje v vodi,slovenski
4919,1,Manfred Mai,Žoga za rojstni dan : slikopis za učenje branja,slovenski

In [3]:
vrste_literature

,knjiga,vrsta
0,Belo se pere na devetdeset,življenjepis
1,Belo se pere na devetdeset,leposlovje za odrasle
2,Dolina rož,roman
3,Dolina rož,leposlovje za odrasle
4,Leninov park,roman
...,...,...
9794,Zgodovina političnega gledališča,neleposlovje za odrasle
9795,Življenje v vodi,strokovna monografija
9796,Življenje v vodi,neleposlovje za odrasle
9797,Žoga za rojstni dan : slikopis za učenje branja,slikanica
9798,Žoga za rojstni dan : slikopis za učenje branja,za predšolske otroke (0-5 let)

10 knjig z največ izposoj:

In [4]:
knjige.head(10)

,izposoje,avtor,naslov,jezik
0,2030,Bronja Žakelj,Belo se pere na devetdeset,slovenski
1,1718,Tadej Golob,Dolina rož,slovenski
2,1405,Tadej Golob,Leninov park,slovenski
3,1286,Adam Kay,Tole bo bolelo : skrivni dnevnik mladega zdrav...,slovenski
4,1250,Tadej Golob,Jezero,slovenski
5,1069,Elena Ferrante,O izgubljeni deklici : zrela leta,slovenski
6,1050,Norman Ohler,Popolna omama : droge v tretjem rajhu,slovenski
7,1039,Sally Rooney,Normalni ljudje,slovenski
8,970,Rosie Walsh,"Moški, ki ni poklical",slovenski
9,938,Julia Donaldson,Zverjasec,slovenski

Knjige, ki so bile izposojene le 1-krat:

In [7]:
knjige[knjige.izposoje == 1]

,izposoje,avtor,naslov,jezik
4660,1,Stane Bernik,20. stoletje : arhitektura od moderne do sodob...,slovenski
4661,1,Graham Saunders,About Kane : the playwright and the work,angleški
4662,1,John Julius Norwich,A history of Venice,angleški
4663,1,Mila Haugová,Alfa,slovenski
4664,1,Rolf Bertolini,Anatomski atlas : iz sistemskega in topografsk...,"slovenski, latinski"
...,...,...,...,...
4915,1,Charles Bukowski,Ženske,slovenski
4916,1,Mantak Chia,Ženski orgazem brez meja : odkrijte svoje pože...,slovenski
4917,1,Siegfried Melchinger,Zgodovina političnega gledališča,slovenski
4918,1,Barbara Taylor,Življenje v vodi,slovenski
4919,1,Manfred Mai,Žoga za rojstni dan : slikopis za učenje branja,slovenski

Knjige v slovenskem jeziku:

In [9]:
knjige[knjige.jezik == 'slovenski']

,izposoje,avtor,naslov,jezik
0,2030,Bronja Žakelj,Belo se pere na devetdeset,slovenski
1,1718,Tadej Golob,Dolina rož,slovenski
2,1405,Tadej Golob,Leninov park,slovenski
3,1286,Adam Kay,Tole bo bolelo : skrivni dnevnik mladega zdrav...,slovenski
4,1250,Tadej Golob,Jezero,slovenski
...,...,...,...,...
4915,1,Charles Bukowski,Ženske,slovenski
4916,1,Mantak Chia,Ženski orgazem brez meja : odkrijte svoje pože...,slovenski
4917,1,Siegfried Melchinger,Zgodovina političnega gledališča,slovenski
4918,1,Barbara Taylor,Življenje v vodi,slovenski
4919,1,Manfred Mai,Žoga za rojstni dan : slikopis za učenje branja,slovenski

Knjige v tujih jezikih:

In [10]:
knjige[knjige.jezik != 'slovenski']

,izposoje,avtor,naslov,jezik
597,220,William Golding,Lord of the flies,angleški
617,215,Anne Collins,Where animals live,angleški
634,212,Coleen Degnan-Veness,The story of Spider-Man,angleški
651,209,Lynne Doherty Herndon,Peter and the wolf,angleški
655,208,Arthur Conan Doyle,Sherlock Holmes stories,angleški
...,...,...,...,...
4884,1,NaN,The Oxford dictionary of idioms,angleški
4898,1,David Krašovec,Valentin Metzinger : (1699-1759) : Lorenec na ...,"slovenski, francoski"
4900,1,Heinrich Decker,Venedig : Antlitz und Kunst der Stadt,nemški
4902,1,Maggie Alderson,Vruće pantalone,srbski
4906,1,Hugh Poulton,Who are the Macedonians?,angleški

Koliko knjig posameznega avtorja je bilo izposojeno?

In [11]:
knjige.groupby('avtor').count()

                    izposoje  naslov  jezik
avtor
A. H. Benjamin             2       2      2
A. J. Finn                 1       1      1
A. J. Wood                 1       1      1
A. S. A. Harrison          1       1      1
Abbi Glines                2       2      2
...                      ...     ...    ...
Đorđe Ličina               1       1      1
Žarko Laušević             1       1      1
Željko Malić               1       1      1
Žiga Gombač                4       4      4
Živa Viviana Doria         3       3      3

[2451 rows x 3 columns]

In [13]:
knjige.groupby('avtor').count().sort_values('naslov').tail(10)

                    izposoje  naslov  jezik
avtor
Primož Suhodolčan         23      23     23
Miki Muster               23      23     23
Julia Donaldson           24      24     24
Roald Dahl                24      24     24
René Goscinny             24      24     24
Jim Davis                 25      25     25
Svetlana Makarovič        26      26     26
James Patterson           27      27     27
Desa Muck                 31      31     31
Enid Blyton               32      32     32

Vidimo, da je bilo najvec izposojenih knjig avtorice Enid Blyton.
Poglejmo, katere so te knjige.

In [15]:
knjige[knjige.avtor == 'Enid Blyton'].naslov

677                                      Skrivnih sedem
755                            Skrivnost starega stolpa
797                               Nagajivka Nika v šoli
887     Skrivnih sedem, Pogumno naprej, Skrivnih sedem!
937                        Skrivnost Šepetajočega otoka
                             ...
1936                                  Na otoku zakladov
2235                        Skrivnost tolpe Zelena roka
2285                                Zaklad grajskih ječ
2414                            Skrivnost hiše Ratatata
3072                      Skrivnost tajnega pristanišča
Name: naslov, Length: 32, dtype: object